body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #c3e4ee;
 }
 
 label{
     font-weight: bold;
 }
 
 @media (min-width: 1200px) {
     .container{
         width: 950px;
         margin: 0 auto;
     }

     .col-id-header{
        width: 80px;
     }

     .col-id{
        width: 80px;
        text-align: center;
     }

     .col-preco-header{
      width: 100px;
   }

     .col-preco{
      width: 100px;
      text-align: center;
   }

     .col-categoria-header{
      width: 200px;
     }

     .col-categoria{
      width: 200px;
   }
     
     .col-acoes-header{
        width: 110px;
     }

     .col-acoes{
        width:80;
        text-align: center;
     }
 }